body {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
	background: url(logscreen.jpeg) no-repeat;
	background-size: cover;
}

.dashboard {
	background-color: #D8D8D8;
	width: 100%;
	height: 70px;
	opacity: 0.8;
}

.logo {
	color: #04B404;
	float: left;
	width: 15%;
	height: 40px;
	font-weight: 700;
	font-size: 45px;
	margin-top: 10px;
	margin-left: 2%;
}

.homebtn {
	background-color: #D8D8D8;
	color: #04B404;
	font-weight: 700;
	border: 2px solid #04B404;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.homebtn:hover {
	background-color: #04B404;
	color: white;
}

.sbtn {
	background-color: #D8D8D8;
	color: #2E64FE;
	font-weight: 700;
	border: 2px solid #2E64FE;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.sbtn:hover {
	background-color: #2E64FE;
	color: white;
}

.logoutbtn {
	background-color: #D8D8D8;
	color: #DF0101;
	font-weight: 700;
	border: 2px solid #DF0101;
	border-radius: 20px;
	width: 8%;
	height: 40px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

.logoutbtn:hover {
	background-color: #DF0101;
	color: white;
}

.titel {
	margin-top: 30px;
	color: white;
	font-size: 40px;
	text-align: center;
	border-bottom: solid white 6px;
	width: 10%;
	margin-left: 45%;
	padding: 13px 0;
	
}

.welbox {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
	color: white;
	
}

.game1 {
	background-color: none;
	color: white;
	border: solid white 2px;
	width: 18%;
	height: 130px;
	margin-left: 5%;
	margin-top: 30px;
	padding: 5px 5px 0px 5px;
	float: left;
	margin-bottom: 30px;
	
}

.joinbtn {
	background-color: Transparent;
	color: white;
	font-weight: 1000;
	border: 2px solid;
	width: 60%;
	height: 40px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	cursor: pointer;
}

.gameid{
	color: white;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-top: 5px;
}

.creator{
	color: white;
	font-weight: 700;
}

.gameadd {
	background-color: none;
	color: white;
	border: solid white 2px;
	width: 18%;
	height: 130px;
	margin-left: 5%;
	margin-top: 30px;
	float: left;
	margin-bottom: 30px;
}

.addbtn {
	background-color: transparent;
	color: white;
	font-weight: 1000;
	font-size: 40px;
	width: 100%;
	height: 100%;
	float: left;
	border: none;
	cursor: pointer;
}
	
